<div class="card-container">
  {{#each items}}
    {{> partialCard this}}
  {{/each}}
</div>
<div class="back-link">
  {{#if items.0.followers}}
    <a href="">Back to Home</a>
  {{/if}}
  {{#unless items.0.followers}}
    <a href="">Back to Artist</a>
    <a href="">Back to Home</a>
  {{/unless}}
</div>