<div class="tracks-container">
  <div class="tracks-header">
    <span>title</span>
    <span>listen</span>
  </div>
  {{#each items}}
    {{> partialTracks this}}
  {{/each}}
  <div class="back-links">
    <a href="/albuns/{{artistId}}">Back to Álbuns</a>
    <a href="/">Back to Home</a>
  </div>
</div>