* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.btn {
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.main-container {
  background-image: url('https://static.pexels.com/photos/167605/pexels-photo-167605.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-artist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-artist input {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-artist .btn-artist {
  margin-top: 10px;
  border-radius: 0;
  color: white;
  background-color: #f66;
  border: 1px solid #f66;
  transition: all ease-in-out .3s;
}

.btn:hover,
.card .card-info a:hover {
  background-color: #fff;
  color: #f66;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-container .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.card .card-img {
  height: 90%;
  display: flex;
  align-items: center;
}

.card .card-info{
  background-color: #4D4D4D;
  text-align: center;
  padding: 1.2rem 0;
  width: 100%;
}

.card .card-info h3 {
  color: #fff;
  margin-bottom: 1rem;
}

.card .card-info a {
  color: #fff;
  font-size: 12px;
  background-color: #F86967;
  border-radius: 5px;
  padding: 8px 16px;
}

.tracks-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tracks-container .tracks-header {
  background-color: #4A4A4A;
  padding: 20px 10px;
  color: #F6F6F6;
  font-size: 20px;
  width: 85%;
  display: flex;
}

.tracks-header span {
  width: 50%;
  text-align: center;
}

.tracks-container .track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  margin-bottom: 2px;
  background-color: #F6F6F6;
  padding: 12px 8px;
}

.back-links {
  display: flex;
  justify-content: center;
  padding-left: 12px;
  margin: 30px;
}

.back-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: rebeccaPurple;
  color: white;
  border: 2px solid rebeccapurple;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 17px;
  transition: all ease-in-out .3s;
}

.back-links a:first-child {
  margin-right: 17px;
  cursor: pointer;
}

.back-links a:hover {
  background-color: #fff;
  color: rebeccaPurple;
}